<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card-header p-3 text-center">
                <h2>Contact-Us</h2>  
            </div>
            <div class="card-body bg-dark p-3 text-center text-light">
                <h4><i class="fa fa-user" aria-hidden="true"></i> Shaikh Khalid</h5> <br><br>
                <h6><i class="fa fa-phone" aria-hidden="true"></i><strong> Phone: </strong>+91-9372758882</h6>
                <h6> <i class="fa fa-envelope" aria-hidden="true"></i><strong> Email: </strong>ks7850837@gmail.com</h6>
            </div>
        </div>
    </div>
</div>    

<%- include('layout/footer') %>